#build auto create when migrate
build
#server
server

# npm
node_modules
package-lock.json
*.log
*.gz


#zksnark file
proving.key
verification.key
witness

#file local
out
out.code
out.ztf
packages.json
client/webpacks
proof.json